{{template "base" .}}

{{define "content"}}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
                <img src="/static/images/marjors-suite.png" alt="generarls quarter" class="img-fluid img-thumbnail">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1>Major's Suite</h1>
                <p>
                    Your Home Away from home, set on the majestic waters of the Atlantic Ocean.
                    This will be a vacation to remember, filled with breathtaking views and unforgettable moments.
                </p>
            </div>
        </div>

        <div class="row mt-4 text-center">
            <div class="col">
                <a id="check-availability-button" href="#!" class="btn btn-success">Make Reservation Now</a>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        
        let colButton = document.getElementById("check-availability-button");
        colButton.addEventListener("click", function () {
            // notify("This is My Message", "warning");
            let html = `
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="row">
                        <div class="col">
                            <div class="row" id="reservation-dates-modal">
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                                </div>
                                <div class="col">
                                    <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            `
            attention.custom({ msg: html, title: "Choose Your Dates" });
        })

    </script>
{{end}}